@import "_variables";
@import "_mixin";

* {
  box-sizing: border-box;
}

h2 {
  font-size: 2.2rem;
  line-height: 32px;
}

body {
  background-color: $white;
  color: $red;
  margin: 0px;
  .icon {
    display: flex;
    justify-content: column;
  }
}

header {
  background-color: $white;
  font-family: RingsideExtraWide-Book, Blank, Helvetica Neue, Helvetica, sans-serif;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  h1 {
    font-size: 4rem;
    font-weight: normal;
  }
  div {
    p:nth-child(1) {
      font-size: 1.6rem;
    }
    p:nth-child(2) {
      font-size: 100%;
      text-align: justify;
      font-weight: bold;
    }
    nav {
      margin-top: 2em;
      line-height: 160%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        display: inline-block;
        color: black;
        text-decoration: underline;
        cursor: pointer;
        list-style: none;
        text-align: justify;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  @include responsive("large-screen") {
    width: $headerWidth;
    padding: 0px $padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }
  @include responsive("small-screen") {
    display: block;
    padding: 0 50px 50px 50px;
    nav {
      column-gap: 15px;
    }
  }
}

main {
  height: 500vh;
  background-color: $red;
  color: $white;
  @include responsive("small-screen") {
    padding-left: 0px;
  }
  @include responsive("large-screen") {
    padding-left: $headerWidth;
  }

  section {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, transparent, transparent, transparent, transparent) $red;

    padding: 10%;
    .movie__header {
      position: relative;
      @include responsive("small-screen") {
        padding-bottom: 18px;
        display: block;
      }
      @include responsive("large-screen") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
      }
      .movie__title {
        @include responsive("small-screen") {
          margin-bottom: 10px;
        }
        @include responsive("large-screen") {
          margin: 0;
        }
        text-transform: uppercase;
      }
      .movie__director {
        font-size: 1.3rem;
        font-family: RingsideRegularSSm-Book, Blank, Helvetica Neue, Helvetica, sans-serif;
      }
    }
    .movie__body {
      padding-top: 56.25%;
      height: 100%;
      width: 100%;
      position: relative;
      box-shadow: 0px 28px 46px -21px #000, 0 0 37px rgba(0, 0, 0, 0.06), inset 0 0 0 2px rgba(0, 0, 0, 0.2);
      .movie__poster {
        position: absolute;
        top: 0;
        left: 0;
        background: url(https://besthorrorscenes.com/posters/55_the-omen.png);
        height: 100%;
        width: 100%;
        background-size: cover;
      }
    }
    footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 3%;
      gap: 7px;
    }
  }
}
