@import "_mixin";
@import "_variables";

body {
  color: $color;
  // use content
  @include responsive("iphone") {
    background-color: pink;
  }
  @include responsive("iphone-l") {
    background-color: palevioletred;
  }
  @include responsive("tablet") {
    background-color: burlywood;
  }
  @include responsive("tablet-l") {
    background-color: peru;
  }
}

div {
  // using "extend"
  @extend %default;
  // using "nesting"
  a:nth-child(2n) {
    // using "mixin"
    @include setColor(white, small);
  }
  a:nth-child(2n + 1) {
    @include setColor(green, large);
  }
}
