@import "_variables";
@import "_mixin";

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: url();
}
// header부분
body {
  & > header {
    position: fixed;
    width: 100%;
    display: inline-block;
    text-align: center;
    &.nav_down {
      background-color: white;
      box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.5);
      transition: 0.3s background-color linear, 0.3s box-shadow linear;
    }
    &.nav_up {
      background-color: transparent;
      box-shadow: 0;
      transition: 0.3s background-color linear, 0.3s box-shadow linear;
    }
    .wrapper {
      display: block;
      width: 90%;
      position: relative;
      margin: 1% 5%;

      div {
        display: inline-block;
      }
      .left {
        position: absolute;
        left: 0;
        div {
          margin-right: 0.5rem;
        }
      }
      .mid {
        display: inline-block;
        position: relative;
        font-weight: 900;
        text-transform: capitalize;
        font-family: -webkit-pictograph;
        font-size: $fontSize2;
        margin-top: -5px;
      }
      .right {
        position: absolute;
        right: 0;
      }
    }
  }

  // main 부분
  main {
    font-size: 0;
    font-family: -webkit-pictograph;

    & > div.left {
      font-size: 0;
      width: 50%;
      overflow: hidden;
      float: left;
      img {
        display: inline-block;
        width: auto;
        height: 100vh;
        object-fit: cover;
      }
    }

    & > div.right {
      width: 50%;
      float: right;

      & > .center.right {
        @extend %center;
        background: white;
        position: sticky;
        height: 100vh;
        padding: 55% 15%;
        z-index: -1;
        top: 0;

        &.hidden {
          opacity: 0;
        }

        h1 {
          font-size: $fontSize1;
        }
        p {
          font-size: $fontSize6;
          white-space: nowrap;
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .center {
    @extend %center;
  }

  .grid {
    background-color: white;
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    padding: 1px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        filter: blur(50px);
        opacity: 0.5;
        transition: 0.3s filter linear, 0.3s opacity linear;
      }
    }
    img:nth-child(7),
    img:nth-child(1) {
      grid-column: 1 / span 2;
    }

    img:nth-child(5) {
      grid-column: 2 / span 2;
    }
    img:nth-child(10) {
      grid-column: 1 / span 2;
    }
  }
}

footer {
  width: 100%;
  padding: 15%;
  font-size: 0;
  background-color: #535851;
  .wrapper {
    color: white;
    width: 100%;
    display: inline-block;
    .column {
      vertical-align: top;
      display: inline-block;
      font-size: 0.8rem;
      width: 25%;
      line-height: 180%;
      header {
        opacity: 0.5;
      }
    }
  }
}
